@import '../../../../../epi.scss';

.cont{
    color: $dark-text;
    overflow: hidden;
    width:100%;
}

table{
    width: 100%;
}

.tableCont{
    height: 296px;
    max-height: 296px;
    overflow-y: auto;
}

td{
    cursor: pointer;
}

.center{
    text-align: center;
}
