<div class="cont">
    <div class="subcont">
        <episjob-h2 data="Visit Date" padtop=10></episjob-h2>
        <episjob-visitfield [val]="today" label="Choose a Date" type="date" (output)="newDate($event)" placeholder="Select Visit Date"></episjob-visitfield>
        
        <episjob-h2 data="Customer" padtop=10></episjob-h2>
        <episjob-visitfield label="Choose a Customer" type="textAuto" placeholder="Select a Customer or type a new one" [array]="customers" (output)="newCust($event)"></episjob-visitfield>  
        <episjob-visitfield [dis]="disField" [val]="valC2" label="Customer Address" type="text" placeholder="Address Line 1" (output)="newCustc2($event)"></episjob-visitfield>  
        <episjob-visitfield [dis]="disField" [val]="valC3" label="Customer Address" type="text" placeholder="Address Line 2" (output)="newCustc3($event)"></episjob-visitfield>  
    </div>
    <div class="subcont">
        <episjob-h2 data="Contact" padtop=10></episjob-h2>
        <episjob-visitfield [val]="valPers" label="Choose a Contact" type="textAuto" [array]="contacts" placeholder="Select a Person" (output)="newPers($event)"></episjob-visitfield>  
        <episjob-visitfield [val]="valPos" label="Contact Position" type="text" placeholder="Position within the Company" (output)="newContPos($event)"></episjob-visitfield>  
        <episjob-visitfield [val]="valPhone" label="Contact Phone" type="text" placeholder="Phone nr." (output)="newContPhone($event)"></episjob-visitfield>
        <episjob-visitfield [val]="valMail" label="Contact Email" type="text" placeholder="Email Address" (output)="newContMail($event)"></episjob-visitfield>
    </div>
    <div class="subcont">
        <episjob-h2 data="Visit Notes (Optional)" padtop=10></episjob-h2>
        <episjob-visitfield [req]=false label="Notes" type="textarea" placeholder="Type visit information" (output)="newNote($event)"></episjob-visitfield>  
        <div align="end" class="butCon">
            <button mat-raised-button color="primary" [disabled]="chOk()">Save visit</button>
        </div>
    </div>
</div>



