<div class="cont">
    <div class="calCont">
        <div class="selectorCont">
            <button mat-icon-button (click)="moveMonth('-')">
                <mat-icon>navigate_before</mat-icon>
            </button>
            {{m.ext}}
            <button mat-icon-button (click)="moveMonth('+')">
                <mat-icon>navigate_next</mat-icon>
            </button>
            
        </div>
        <div class="header">
          <p>Mon</p>
          <p>Tue</p>
          <p>Wed</p>
          <p>Thu</p>
          <p>Fri</p>
          <p>Sat</p>
          <p>Sun</p>
        </div>
        <div class="daysCont">
            <div class="day" 
                *ngFor="let d of days" 
                [ngClass]="{'g': d.n!='', 'holy':!d.holy}" 
                (click)="gio(d)"
                [class.mat-elevation-z1]="d.n!=''">
                <p class="dayNr">{{d.n}}</p>
                <p class="visitNr" [ngClass]="{'visitNr1':!aa()}">{{d.visits!=''? d.visits + (aa()?'':' visits'): ''}}</p>
            </div>
        </div>
    </div>
    <div class="listCont" *ngIf="dailyList.length>0">
        <episjob-h2 data="Visits list" icon="list" padtop="0"></episjob-h2>
        <div *ngFor="let v of dailyList">{{v.c1}}</div>
    </div>
</div>