@import '../../../../epi.scss';


.cont{
    width:100%;
    height:100%;
    //max-height: min(calc(100vh - 140px), 450px);
}

.listSubCont{
    height: 100%;
    max-height: calc(100% - 115px);
    overflow-y: auto;
}
@media screen and (max-width: 920px){
    .listSubCont{
        max-height: none;
    }
}
.newVisit{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-text;
    background-color: $light-text;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
    font-weight: 900;
    cursor: pointer;
}

.divtxt{
    background-color: rgb(245,245,245);
    border-radius: 5px 5px 0 0;
    border-bottom: .5px solid $dark-text;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}

.txtlabel{
    color: rgb(130,130,130);
    margin: 5px 10px 0 10px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
}

.txt{
    margin: 0px 10px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.lt{
    overflow: hidden;
    white-space: nowrap;
}