@import '../../../../epi.scss';


.newVisit{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-text;
    background-color: $light-text;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
    font-weight: 900;
    cursor: pointer;
}