
.butCont{
    width:21cm;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: calc(12.5vh - 30px);
    right: calc((100vw - 21cm) / 2 - 30px);
    z-index: 100000;
}


.sj{
    scale: .5;
}

.mainCont{
    position: relative;
}