<div mat-dialog-title>Report</div>
<div mat-dialog-content>
    <form [formGroup]="mask">
        <h4>Machine and Customer information</h4>
        <div class="cont">
            <mat-form-field floatLabel="always" *ngFor="let d of con" [class]="d.row" [ngStyle]="{'grid-area':d.row}">
                <mat-label>{{d.name}}</mat-label>
                <input matInput [formControlName]="d.name" type="text" autocomplete="off">
            </mat-form-field>  
        </div>
        <h4>Quotation Lines</h4>
        <div class="lines" *ngFor="let i of it; let o = index">
            <mat-form-field floatLabel="always">
                <mat-label>p/n</mat-label>
                <input matInput [formControlName]="'pn' + o" type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Desc</mat-label>
                <input matInput [formControlName]="'it' + o" type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>LLP</mat-label>
                <input matInput [formControlName]="'llp' + o" type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Qty</mat-label>
                <input matInput [formControlName]="'qty' + o" type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Discount</mat-label>
                <input matInput [formControlName]="'disc' + o" type="text" autocomplete="off">
            </mat-form-field>
            <mat-form-field floatLabel="always">
                <mat-label>Transport</mat-label>
                <input matInput [formControlName]="'tra' + o" type="text" autocomplete="off">
            </mat-form-field>
        </div >
        
    </form>
        
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary"  (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="send()">Ok</button>
</div>