
.cont{
    display: grid;
    gap:15px;
    grid-template-rows: auto;
    grid-template-areas: 
    "a1 a2 a3 ."
    "a4 a8 . ."
    "a5 a9 . ."
    "a6 a10 . ."
    "a7 . . ."
    "a11 a12 a13 a14";
}

@media screen and (max-width: 500px) {
    .cont{}
}

.main{
    display: grid;
    grid-template-columns: 50px 1fr 65px;
    grid-template-rows: auto;
    gap:15px
}

.lines{
    display: grid;
    gap:15px;
    grid-template-columns: 2fr 4fr 2fr 1fr;// 1fr 1fr;
}

.select, .buttons{display: grid;
    gap:15px;
    grid-template-columns: 1fr;
}

.buttons{
    margin-right: 15px;
    padding-right: 15px;
}

button{
    max-height: 50px;
}



.center{
    text-align: center;
}

mat-form-field{
    width:100%;
    min-width: 10px;
}

.conditions{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 2fr repeat(2, 1fr);
}
