<div mat-dialog-title>Report</div>
<div mat-dialog-content>
    <form [formGroup]="mask">
        <h4>Machine and Customer information</h4>
        <div class="cont">
            <mat-form-field floatLabel="always" *ngFor="let d of con" [class]="d.row" [ngStyle]="{'grid-area':d.row}">
                <mat-label>{{d.name}}</mat-label>
                <input matInput [formControlName]="d.name" type="text" autocomplete="off" (input)="inputData()">
            </mat-form-field>  
        </div>
        <h4>Quotation Lines</h4>
        <div class="lines" >
            <mat-form-field floatLabel="always" *ngFor="let i of items; let o = index">
                <mat-label>{{i.name.substring(1,100)}}</mat-label>
                <input matInput [formControlName]="i.name" type="text" autocomplete="off" (input)="checkPrice($event, i.name); inputData()">
            </mat-form-field>
        </div >
        
    </form>
        
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary"  (click)="loadParts()">Load Parts</button>
    <button mat-raised-button color="primary" (click)="send()">Ok</button>
</div>