<episjob-navbar title="Message Center" [cerca]="false"></episjob-navbar>

<div class="cont">
    <div *ngIf="notif.length>0">
        <div *ngFor="let n of notif" class="notList" [ngClass]="{'unr':n.status==0}">
            <!--<div class="item"><input type="checkbox"></div>-->
            <div class="item bod" [ngStyle]="{'font-weight': n.status==0? '900' : '100'}">{{n.text}}</div>
            <div class="item"><button mat-icon-button (click)="read(n)"><mat-icon>{{n.status==0? 'email':'drafts'}}</mat-icon></button></div>
            <div class="item"><button mat-icon-button (click)="del(n)"><mat-icon>delete</mat-icon></button></div>
    
        </div>
    </div>
    <div *ngIf="notif.length==0">
        No messages
    </div>
</div>