@import '../../../epi.scss';

.cont{
    padding: 80px 10px 30px 10px;
    width:calc(100% - 20px);
}

.notList{
    display: grid;
    grid-template-columns: auto 45px 45px;
    background-color: rgb(245,245,245);
    border-radius: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid $dark-text;
}

.item{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    color: $dark-text;
}

.bod{
    justify-content: flex-start;
}

.unr{
    background-color: $light-text;
}