

.cont{
    padding: 80px 10px 30px 10px;
}

.infoData{
    width:100%;
}

.gr{
    display: grid;
    grid-template-columns: repeat(2,minmax(300px, 1fr));
    gap: 20px;
}

.ad{
    display: grid;
    grid-template-columns: repeat(2,minmax(140px, 1fr));
    gap: 10px;
}

.addIcon{
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .gr, .ad{
        display: inline;
    }    
}



.ico{
    color:rgb(122, 189, 22);
}