

.cont{
    padding: 80px 10px 30px 10px;
}

.infoData{
    width:100%;
}

.inp{
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    gap: 15px;
}

@media only screen and (min-width: 601px) {
    .inp{
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}

@media only screen and (min-width: 1201px) {
    .inp{
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
}

.ico{
    color:rgb(122, 189, 22);
}