.cont{
    margin: 80px 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, min(calc(100vh - 140px), 450px));
}

@media screen and (max-width: 920px){
    .cont{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fill, min(calc(100vh - 140px), 450px));
    }
}