@import '../../../../../epi.scss';

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.formGroup{
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, 15%);
    gap:0 5px;
}

@media screen and (max-width:500px) {
    .hid{
        display: none;
    }
    .formGroup{
        grid-template-columns: repeat(1, 1fr) repeat(3, 20%);
    }
}

::ng-deep .holy {
    color:red;
    .mat-form-field-label {
      color: red;
    }
    .mat-form-field {
        color: red;
      }
}

::ng-deep .sat {
    color: orange;
    .mat-form-field-label {
      color: orange;
    }
    .mat-form-field {
        color: orange;
      }
}