<div mat-dialog-title>Visit Details</div>
<div mat-dialog-content class="cont">
    <episjob-label [values]="val"></episjob-label>
    <div class="divtxt">
        <div class="txtlabel">{{notes.lab}}</div>
        <div class="txt">{{notes.value}}</div>
    </div>
    <div class="del">
        Delete Visit 
        <button mat-icon-button (click)="del()"><mat-icon>delete</mat-icon></button>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" cdkFocusInitial (click)="onNoClick()">ok</button>
</div>