<div class="cont">
    <episjob-h2 class="title" [padtop]="10" [data]="'Service Job History'"></episjob-h2>

    <div class="acc" *ngIf="sj.length>0">
      <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let a of sj; let i = index" [class.mat-elevation-z1]="true" class="acc">
          <mat-expansion-panel-header>
            <mat-panel-title class="of">
              {{a.data11}} - Service ({{a.stdspe}})
            </mat-panel-title>
            <mat-panel-description class="of">
              @ {{a.cantiere1}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <h4>Service Report <span *ngIf="a.tecnico11">({{a.tecnico11}})</span>:</h4>
          <p>{{a.rappl1}}</p>
          <div class="SJDown" (click)="download(a.filename)">
            <mat-icon>description</mat-icon>
            <p class="desc">Download Service Job</p>
          </div>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    
    
    
    
    
    
</div>



