<div class="cont" *ngIf="sjSl.length>0" [class.mat-elevation-z1]="true">
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let a of sjSl; let i = index" class="acc">
      <mat-expansion-panel-header>
        <mat-panel-title class="of">
          <span class="ofc1"><div>{{a.data11}}</div></span>
          <span class="ofc1"><div>{{width()? 'Doc': ''}}# {{a.docbpcs}}</div></span>
          <span class="ofc1"><div>{{a.tecnico11}}</div></span>
        </mat-panel-title>
        <!--<mat-panel-description class="of"> </mat-panel-description>-->
      </mat-expansion-panel-header>
      
      <h4>
        <div class="row">
          <span>Type: </span><span>{{a.stdspe}}</span>
        </div> 
        <div *ngIf="a.tecnico11"  class="row">
          <span>{{width()? 'Technician: ': 'Tech: '}}</span><span>{{a.tecnico11}}</span>
        </div>
        <div *ngIf="a.cantiere1"  class="row">
          <span>Site: </span><span>{{a.cantiere1}}</span>
        </div>
      </h4>
      <p>{{a.rappl1}}</p>
      <div class="SJDown" (click)="download(a.filename)">
        <mat-icon>description</mat-icon>
        <p class="desc">Download Service Job</p>
      </div>
      
    </mat-expansion-panel>
  </mat-accordion>
      <!--<mat-paginator [length]="list.length"
        [pageSize]="5"
        [pageSizeOptions]="list.length>20? [5,10,20,list.length]: (list.length>10?[5,10,list.length]:[5,list.length])"
        *ngIf="list.length>5"
        (page)="split($event)"
        >
      </mat-paginator>-->

</div>



