
@import '../../../epi.scss';


.back{
    margin-top: 20px;;
}

#cont{
    display: flex;
    flex-direction: column;
    padding: 80px 10px 10px 10px;
}

.titolo {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 600px) {


  }