
@import '../../../epi.scss';


.back{
    margin-top: 20px;;
}

h2{
    padding-top: 35px;
    color: $dark-text;
}

#cont{
    display: flex;
    flex-direction: column;
    padding: 80px 10px 10px 10px;
}

.custrigcont{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {


  }