<div class="cont" (window:resize)="larg()">

    <mat-accordion style="min-width:100%;">
        <mat-expansion-panel hideToggle [class.mat-elevation-z1]="true" class="acc">
          <mat-expansion-panel-header>
            {{title()}}
          </mat-expansion-panel-header>
          <div class="dd">
            <mat-checkbox [checked]="a1==1? true : false" (change)="ch(1, $event)">{{largh>750? 'Area 1' : 1}}</mat-checkbox>
            <mat-checkbox [checked]="a2==1? true : false" (change)="ch(2, $event)">{{largh>750? 'Area 2' : 2}}</mat-checkbox>
            <mat-checkbox [checked]="a3==1? true : false" (change)="ch(3, $event)">{{largh>750? 'Area 3' : 3}}</mat-checkbox>
            <mat-checkbox [checked]="a4==1? true : false" (change)="ch(4, $event)">{{largh>750? 'Area 4' : 4}}</mat-checkbox>
            <mat-checkbox [checked]="a5==1? true : false" (change)="ch(5, $event)">{{largh>750? 'Area 5' : 5}}</mat-checkbox>
        
          </div>
        </mat-expansion-panel>
    </mat-accordion>    
</div>
