<episjob-navbar [cerca]="false" title="Potential"></episjob-navbar>
<div class="mainCont">
    <form [formGroup]="ttmPot">
        <div class="cont" *ngFor="let f of families; let i = index">
            <div class="note">
                <mat-label>{{f.bl}} | {{f.fam}}</mat-label>
            </div>
            <div class="pot">
                <mat-form-field [appearance]="appearance" class="ff">
                    <input episjobThousands matInput type="number">
                </mat-form-field>
                <mat-form-field [appearance]="appearance" class="ff">
                    <input matInput type="number">
                </mat-form-field>
                <mat-form-field [appearance]="appearance" class="ff">
                    <input matInput type="number">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
