

table{
    width:100%;
    margin-bottom: 30px;
}

tr{
    display: grid;
    grid-template-columns: repeat(4, 4fr) repeat(5, 1fr);
    //grid-template-rows: auto;
}

@media screen and (max-width: 850px) {
    tr{
        grid-template-columns: repeat(2, 4fr) repeat(5, 1fr);
        //grid-template-rows: auto;
    }
}

mat-icon{
    cursor: pointer;
}


.totRow{
    font-weight: 900;
}