<mat-toolbar color="primary">
    <span>
      <button mat-raised-button (click)="back()" color="accent" class="back">
        <mat-icon>navigate_before</mat-icon><span>Back</span>
      </button></span>
      <span class="head">Installed Base</span>
    
</mat-toolbar> 

<div id="spin" *ngIf="!rigs">
  <mat-spinner></mat-spinner>
</div>


<div class="cont" *ngIf="rigs">
  <mat-card class="card" *ngFor="let rig of rigs" (click)="open(rig.model,rig.sn, rig.customer)">
    <h3 class="rigT">s/n: {{rig.sn}}</h3>
    <h4>{{rig.model}}</h4>
    <p>{{rig.customer}}</p>
  </mat-card>
</div>