<episjob-navbar [title]="'Equipment list'" (filter)="filter($event)"></episjob-navbar>
<div id="spin" *ngIf="!rigs" >
  <mat-spinner color="accent"></mat-spinner>
</div>

<div class="cont" *ngIf="rigs1">
      <div class="card" *ngFor="let rig of rigs1 | snfilter:filtro" (click)="open(rig.model,rig.sn, rig.customer)" [class.mat-elevation-z2]="true">
        <h3 class="rigT">s/n: {{rig.sn}}</h3>
        <h4 class="l2">{{rig.model}}</h4>
        <h4 class="l2">{{rig.in}}</h4>
        <p class="l2">{{rig.customer}}</p>
        <p class="l3">{{rig.site || 'SITE UNKNOWN'}}</p>
      </div>
</div>

<episjob-addbut  [fun]="'newrig'"></episjob-addbut>
