
@import '../../../epi.scss';

:root{
    --wid-card: 200px;
}

.card{
    width: 250px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    background-color: rgb(245,245,245);
}

.cardC{
    width: 250px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.cont{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap:15px;
    padding: 75px 15px 15px 15px;
}

#spin{
    display:inline-flex;
    width:100vw; height:100vh;
    padding-top:100px;
    justify-content: center;
    align-items: flex-start;
}

.head{
    color: $light-text;
    font-weight: 500;
    margin-left: 30px; 
  }

.back{
    margin-left: 16px; 
}

.rigT{
    background-color: $dark-text;
    color: $light-text;
    text-align: center;
    border-radius: 20px;
}

.subF{
    position:fixed;
    transition: 0.5s;
    height: 60px;
    z-index: 2;
}

.spacer{
    flex: 2 2 0;
}

.cerca{
    padding:0;
}

#fil{
    background-color: $dark-text;
    color: $light-text;
    font-family: Arial;
    border-radius: 20px;
    padding:5px;
}
