@import '../../../../epi.scss';

table{
    width:100%;
}

mat-icon{cursor: pointer;}

.cur{
    cursor: pointer;
}

.totRow{
    font-weight: 900;
}

.left{
    text-align: center;
}

.cen{
    text-align: center;
}

.right{
    text-align: right;
}

.cur{
    cursor:pointer;
}