@import '../../../../epi.scss';

.cont{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    border-bottom: 1px solid rgb(245,245,245);
    margin-bottom: 5px;
}

@media screen and (max-width:800px){
    .cont{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 15px;
    }
    .bold{
        font-weight: 500;
    }
    .head{
        display: none;
    }
}

.text, .h{
    padding:0 5px;
    white-space: nowrap;
    overflow: hidden;
}

.text{
    cursor: pointer;
}

.sel{
    background-color: $dark-text;
    color: $light-text;
    border-radius: 5px;
}

.head{
    font-weight: 600;
    background-color: $light-text;
    color:$dark-text;
}