<div class="mainCont">
    <div class="cont head">
        <div class="h">Serial nr</div>
        <div class="h">Machine</div>
        <div class="h">Customer</div>
        <div class="h">Date</div>
        <div class="h">Type</div>
        <div class="h">Author</div>
        <div class="h">Originator</div>
    </div>
    
    <div *ngFor="let l of list; let i = index" class="cont" (click)="go(i,$event)" (dblclick)="directgo(i,$event)" [ngClass]="{'sel':l.sel==1}">
        <div class="text bold">{{l.sn}}</div>
        <div class="text bold">{{l.model}}</div>
        <div class="text">{{l.customer}}</div>
        <div class="text">{{l.date}}</div>
        <div class="text">{{l.type}}</div>
        <div class="text lar">{{l.author}}</div>
        <div class="text lar">{{l.orig?l.orig:''}}</div>
        <div class="text str">{{l.author}} {{l.orig?'(' + l.orig + ')':''}}</div>
    </div>
</div>
