<div class="mainCont" *ngIf="list.length>0">
    <div class="head" [class.mat-elevation-z2]="true">
        <div class="h" (click)="sort('sn')">
            <span>Serial nr</span>
            <span *ngIf="sortIcon=='sn' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
            <span *ngIf="sortIcon=='sn' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div class="h" (click)="sort('model')">
            <span>Machine</span>
            <span *ngIf="sortIcon=='model' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
            <span *ngIf="sortIcon=='model' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div class="h" (click)="sort('customer')">
            <span>Customer</span>
            <span *ngIf="sortIcon=='customer' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
            <span *ngIf="sortIcon=='customer' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div class="h" (click)="sort('date')">
            <span>Date</span>
            <span *ngIf="sortIcon=='date' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
            <span *ngIf="sortIcon=='date' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div class="h" (click)="sort('type')">
            <span>Type</span>
            <span *ngIf="sortIcon=='type' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
            <span *ngIf="sortIcon=='type' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div class="h" (click)="sort('author')">
            <span>Author</span>
            <span *ngIf="sortIcon=='author' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
            <span *ngIf="sortIcon=='author' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div class="h" (click)="sort('orig')">
            <span>Originator</span>
            <span *ngIf="sortIcon=='orig' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
            <span *ngIf="sortIcon=='orig' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
    </div>
    <div class="contL">
        <div *ngFor="let l of list; let i = index" class="cont" (click)="go(i,$event)" (dblclick)="directgo(i,$event)" [ngClass]="{'sel':l.sel==1}">
            <div class="text bold">{{l.sn}}</div>
            <div class="text bold">{{l.model}}</div>
            <div class="text">{{l.customer}}</div>
            <div class="text">{{l.date}}</div>
            <div class="text">{{l.type}}</div>
            <div class="text lar">{{l.author}}</div>
            <div class="text lar">{{l.orig?l.orig:''}}</div>
            <div class="text str">{{l.author}} {{l.orig?'(' + l.orig + ')':''}}</div>
        </div>
    </div>
    
</div>
