@import '../../../epi.scss';

.cont{
    max-width: 2200px;
}

table{
    width: 100%;
}

.actions{
    cursor:pointer;
}

.icoCont{
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    gap:5px;
}

.light{
    color: lightgrey;
}

.cursor{
    cursor: pointer;
}