<episjob-navbar title="Contract" (filter)="filter($event)"></episjob-navbar>
<div class="cont" episjobCont *ngIf="allow && !allSpin">
    <episjob-h2 data="List of contracts" icon="class" padtop="0" [addGeneral]="true" (addGen)="add()"></episjob-h2>    
    
    <table *ngIf="sortedData.length>0" mat-table [dataSource]="sortedData" matSort (matSortChange)="sortData($event)" class="mat-elevation-z2">
        <ng-container matColumnDef="sn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> s/n </th>
          <td mat-cell *matCellDef="let element"> {{element.sn}} </td>
        </ng-container>
        <ng-container matColumnDef="model" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
          </ng-container>
        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
            <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
            <td mat-cell *matCellDef="let element"> {{element.start | dateconv}} </td>
        </ng-container>
        <ng-container matColumnDef="end" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End </th>
            <td mat-cell *matCellDef="let element"> {{element.end | dateconv}} </td>
        </ng-container>
        <ng-container matColumnDef="left" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Days </th>
            <td mat-cell *matCellDef="let element"> 
                <div class="icoCont">
                    <mat-icon [ngStyle]="{'color':element.daysleft<6?'red':element.daysleft<31?'orange':'green'}">circle</mat-icon>
                    <span>{{element.daysleft}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="attachment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let element" class="actions" (click)="attach(element)"> <mat-icon [ngClass]="{'light':!element.att || element.att==0}">attach_file</mat-icon> </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let element" class="actions" (click)="add(element)"> <mat-icon >edit</mat-icon> </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let element; let i = index" class="actions" (click)="delete(element)"> <mat-icon>delete</mat-icon> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<div *ngIf="!allow && !allSpin" episjobCont>Restricted Area</div>
<episjob-spin *ngIf="allSpin"></episjob-spin>