@import '../../../epi.scss';

.cont{
    padding: 80px 10px 30px 10px;
}
#ex{
    width:100%;
    border-collapse: collapse;
    display: none;
}
#ex td{
    text-align: center;
    border: 1px solid black
    
}

.contS{
    width:100%;
    display: flex;
    justify-content: center;
}

.alCenter{
    text-align: center;
}

.w14{
    width:14%;
}

.w10{width:12%}

.w85{width:7%}

.w20{
    width:16%
}

.w2{
    width: 2%;
}

.contT th{
    background-color: $dark-text;
    color: $light-text;
    position: sticky;
    top: 118px;
    border: 1px solid $light-text;
    padding: 6px 0;
}

.mat-sort-header-container{
    justify-content: center;
}

.contT td{
    white-space: nowrap;
    overflow:hidden;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid lightgrey;
    padding: 2px 5px;
}

.contT{
    margin-top: 20px;
    width:calc(100vw - 20px);
    border-collapse: collapse;
}

.backCG{
    background-color: lightgreen;
}

.backCR{
    background-color: lightcoral;
}

.backCY{
    background-color: lightyellow;
}

mat-icon{
    margin: 0;
}

.circ{
    border-radius :100%;
    width: 15px;
    height:15px;
    border: 1px solid grey;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }