.headCont{
    display: grid;
    grid-template-columns: 85px 1fr;
}

.ico{
    cursor: pointer;
}

.butCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    margin-bottom: 15px;
}

@media screen and(max-width: 400px) {
    .butCont{
        grid-template-columns: 1fr;
    }
}