<div mat-dialog-title>Service Job #{{data.docbpcs}}</div>
<div mat-dialog-content class="cont">
    <div class="headCont">
        <h4>Type:</h4>
        <h4>{{data.stdspe}}</h4>
        <h4>Tech:</h4>
        <h4>{{data.tecnico11}}</h4>
        <h4>Site:</h4>
        <h4>{{data.cantiere1}}</h4>
        <h4>Actions:</h4>  
        <div class="butCont">
            <button mat-raised-button color="primary" (click)="download(data.filename)">Dowload SJ</button>
            <button mat-raised-button color="primary" *ngIf="chPos('SURights')" (click)="balance()">{{getBalance()}}</button>  
        </div>
    </div>
    <div class="reportCont">
        <p><strong>Report: </strong>{{data.rappl1}}</p>  
    </div>
    
    
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onNoClick()" >Ok</button>
    <!--<button mat-raised-button color="primary" [mat-dialog-close]="'test'">Delete</button>-->
</div>