@import '../../../../../epi.scss';

table{
    width: 100%;
    
}

mat-paginator{
    margin-bottom:10px;
}

.tablecont{
    height: 350px;
    overflow-y: auto;
}

th{
    position: sticky;
    top:0;
    background-color: white;
}
