@import '../../../../epi.scss';

.h2{
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 100%;
    margin:0;
    display: grid;
    gap:10px
}

h2{
    margin:0;
    white-space: nowrap;
    overflow: hidden;
}

.butt1, .butt2{
    display: grid;
    cursor: pointer;
    justify-items: flex-end;
    grid-template-columns: 1fr;
}

.butt1{
    grid-template-columns: 1fr;
}

.butt2{
    grid-template-columns: 1fr 1fr;
}

.cont{
    color: $light-text;
    display: grid;
    align-items: center;
    grid-template-columns: 45px 6fr;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
    padding: 5px 15px;
    background-color: $dark-text;
    //background-color: rgb(200, 200, 200);
}

.cont1{
    grid-template-columns: 45px 6fr 100px;

}
