<div class="cont" [ngStyle]="{'margin-top':padtop + 'px'}" [class.mat-elevation-z2]="true">
    <mat-icon *ngIf="icon!=''">{{icon}}</mat-icon>
    <h2>{{data}}</h2>
    <div class="butt">
        <button mat-icon-button color="accent" *ngIf="showMol" (click)="openMol()">
            <mat-icon matSuffix>link</mat-icon>
        </button>       
        <button mat-icon-button color="accent" *ngIf="showAdd && pos=='SU'" (click)="add()">
            <mat-icon matSuffix>add_circle</mat-icon>
        </button>
    </div>
</div>