<div class="cont" [class.cont1]="showMol || showDL || showAdd || showSort" [ngStyle]="{'margin-top':padtop + 'px'}" [class.mat-elevation-z2]="true">
    <mat-icon *ngIf="icon!=''">{{icon}}</mat-icon>
    <h2>{{data}}</h2>
    <div [class.butt1]="showMol || showDL || showSort" [class.butt2]="showAdd && pos=='SU'" *ngIf="(showAdd && pos=='SU') || showMol || showDL || showSort">
        <mat-icon *ngIf="showAdd && pos=='SU'" matSuffix (click)="add($event)" matTooltip="Add Commissioning Date" matTooltipPosition="below">add_circle</mat-icon>
        <mat-icon *ngIf="showMol" matSuffix (click)="openMol()" matTooltip="Open MOL" matTooltipPosition="below">link</mat-icon>
        <mat-icon *ngIf="showDL" matSuffix matTooltip="Copy data" matTooltipPosition="below" (click)="copyData()">file_download</mat-icon>
        <mat-icon *ngIf="showSort" matSuffix matTooltip="Ascending/Descending" matTooltipPosition="below" (click)="sortData()">import_export</mat-icon>
    </div>
</div>