<episjob-navbar title="Contact List" [hide]="false" (filter)="filter($event)"></episjob-navbar>
<div episjobConttop *ngIf="allow && !allSpin">
    <div class="panel" [class.mat-elevation-z6]="true"></div>
    <div class="butCont">
        <p>Sort by:</p>
        <mat-button-toggle-group [(ngModel)]="val" value="name,1" (click)="sortList(val)">
            <mat-button-toggle value="name">
                <mat-icon *ngIf="nameAsc">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="!nameAsc">arrow_drop_down</mat-icon>
                Name
            </mat-button-toggle>
            <mat-button-toggle value="surname">
                <mat-icon *ngIf="surnameAsc">arrow_drop_up</mat-icon>
                <mat-icon *ngIf="!surnameAsc">arrow_drop_down</mat-icon>
                Surame
            </mat-button-toggle>
        </mat-button-toggle-group>   
    </div>
    <div class="cont">
        <div episjobElevation *ngFor="let c of contacts | contactfilter: filtro" class="card" [id]="sortBy=='name'?c.name:c.surname" [class.mat-elevation-z1]="true">
            <div class="head" (click)=go(c)>
                <!--<mat-icon class="ico">people</mat-icon>-->
                <div class="textH">{{c.name.toUpperCase()}} {{c.surname?c.surname.toUpperCase():'err'}}</div> 
            </div>
            <div class="body">
                <mat-icon class="ico" (click)=go(c)>factory</mat-icon>
                <div class="text" (click)=go(c)>{{c.company}}</div>
                <mat-icon class="ico" (click)=go(c)>business</mat-icon>
                <div class="text" (click)=go(c)>{{c.pos}}</div>
                <mat-icon class="ico" (click)=go(c)>phone</mat-icon>
                <div class="text">
                    <a href="Tel:{{c.phone}}">{{c.phone}}</a>
                </div>
                <mat-icon class="ico" (click)=go(c)>mail</mat-icon>
                <div class="text">
                    <a class="text" href="mailto:{{c.mail}}">{{c.mail}}</a>
                </div>  
            </div>
        </div>
    </div>
    <div episjobCont *ngIf="!allow">Restricted area</div>
</div>
<episjob-addbut [addNewContact]="true" (newCon)="addNew($event)"></episjob-addbut>
<div *ngIf="!allow && !allSpin" episjobCont>Restricted Area</div>
<episjob-spin *ngIf="allSpin"></episjob-spin>
