@import '../../../epi.scss';

.cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

button{
    max-height: 35px;
    max-width: 200px;
    width:100%;
}
.card{
    cursor: pointer;
    color: $dark-text;
    border-radius: 10px;
    background-color: rgb(245,245,245);
}

.title{
    background-color: $dark-text;
    color: $light-text; 
    border-radius: 10px;
}

.body, .head{
    box-sizing: border-box;
    display: grid;
    padding: 2px;
    grid-template-columns: 1fr;
    padding: 5px 10px;
    gap: 3px 5px;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.head{
    background-color: $dark-text;
    color: $light-text;
    border-radius: 10px 10px 0 0;
    padding-left: 15px;
}

.body{
    //width: calc(100% - 25px);
    grid-template-columns: 35px 1fr;
}

mat-icon{
    transform: scale(.75);
}

.text, a{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.right{
    border:1px dashed $dark-text;
    position: fixed;
    width: 65px;
    height: calc(100vh - 102px);
    top:100px;
    right:0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:2px;
    overflow-y: scroll;
}

.butCont{
    position: sticky;
    top:110px;
    background-color: white;
    width:100% ;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 15px;
    z-index: 2;
    gap:15px;
    height: 50px;
}

@media screen and (max-width:500px) {
    .butCont{
        justify-content: center;
    }
}

mat-button-toggle-group{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    max-height: 40px;
}

.panel{
    width:100%;
    position: fixed;
    height: 160px;
    background-color: white;
    z-index: 2;
    top:0;left:0;
}