@import '../../../epi.scss';


.cont{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.file{
    display:flex;
    align-items: center;
    background-color: rgb(245,245,245);
    color: $dark-text;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid $dark-text;
    padding: 10px 5px;
    cursor: pointer;
    overflow: hidden;
}

.nomeF{
    margin-left: 15px;
}