@import '../../../epi.scss';


.cont{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.file{
    display:flex;
    align-items: center;
    background-color: rgb(245,245,245);
    color: $dark-text;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid $dark-text;
    padding: 10px 5px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1500;
}

.nomeF{
    margin-left: 15px;
}

episjob-h2{
    position: sticky;
    top:120px;
}

mat-paginator{
    position: sticky;
    top:180px;
}

.panel{
    background-color: white;
    position: fixed;
    top: 0; left:-10px;
    width:200%; height: 253px;
    z-index: 1;
}

.el{
    z-index: 300;
}