
@import '../../../epi.scss';

.cont{
    padding:80px 10px 30px 10px;
}

.stepper{
    max-width: 1000px;
}

.list{
    max-height: 300px;
    overflow-y: auto;
}

.rigrow, .rigrowh{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



.rigdata{
    overflow-x: hidden;
    white-space: nowrap;
    padding: 0 3px;
}

.righ{
    overflow-x: hidden;
    white-space: nowrap;
    padding: 0 3px;
    text-align: start;
}

.rigrowh{
    overflow-x: hidden;
    white-space: nowrap;
    padding: 0 3px;
    text-align: start;
    font-weight: 600;
}

.rig{
    display: grid;
    grid-template-columns: 1fr;
}
.list{
    cursor: pointer;
    padding-bottom: 30px;
}

.group3, .group4{
    display: grid;
    gap:15px;
}
.group3{
    grid-template-columns: repeat(3, 1fr);
}
.group4{
    grid-template-columns: repeat(4, 1fr);
}

.area{
    width:100%;
}

.button{
    padding-top: 30px;
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.but{
    flex: 1 1 auto;
}

.searchForm{padding-bottom: 30px;}

@media screen and (max-width:750px) {
    .rigrow{
        grid-template-columns: repeat(2, 1fr);
    }
    .rigrow:nth-of-type(even){
        background-color: rgb(245,245,245);
    }
    .rigrowh{display: none;}
    .rigdata{
        padding: 0 6px;
    }

    .searchbox{
        width:100%;
    }
}



@media screen and (max-width:950px) {
    .group4{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:500px) {
    .group3, .group4{
        grid-template-columns: 1fr;
    }
}

.rigrow:hover{
    background-color: $light-text;
}

.radiocont{
    max-width: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:15px;
}

.dayHead{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30px);
    gap: 10px;
}

.con{
    display: grid;
    grid-template-columns: 1fr;
    width: 30px; height: 60px;
}