
@import '../../../../epi.scss';
:root {
    --wid: 1100px;
  }

.back{
    margin-top: 20px;;
}

.cont{
    display: grid;
    gap:15px;
}

@media screen and (min-width:2300px) {
    .cont{
        grid-template-columns: repeat(auto-fit, minmax(900px,1fr));
    }
}

.titolo {
    display: flex;
    align-items: center;
}

.addList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    column-gap: 15px;
}

@media screen and (max-width:600px) {
    .addList{
        grid-template-columns: 1fr;
    }    
}

.cur{
    cursor: pointer;
}


