<episjob-navbar title="Sales Potential" [cerca]="false"></episjob-navbar>
<div class="cont" *ngIf="pos=='SU' || pos=='adminS' || pos=='sales'">
  <episjob-h2 data="Select Customer" icon="work"></episjob-h2>
    <form [formGroup]="custFormGroup" class="custForm">
        <div class="custCont">
          <mat-form-field [appearance]="appearance" class="custItem1">
            <mat-label>Customer Name</mat-label>
            <input matInput type="text" placeholder="Customer Name" formControlName="c1" autocomplete="off" (keyup)="clearCust()">
          <mat-error>Choose a customer from the list or type a new name</mat-error>
          </mat-form-field>
          <mat-list class="list custItem4" *ngIf="chList() && listVis">
            <!--<div mat-subheader>Customers List</div>-->
            <mat-list-item *ngFor="let c of customers1" [ngStyle]="{'cursor':1==1? 'pointer':'arrow'}" (click)="addC(c.c1,c.c2,c.c3,c.id)">
              <mat-icon mat-list-icon>business</mat-icon>
              <div mat-line>{{c.c1}}</div>
              <div mat-line> {{c.c2}} | {{c.c3}} </div>
            </mat-list-item>
          </mat-list>
          <mat-form-field [appearance]="appearance" class="custItem2">
            <mat-label>Customer Address 1</mat-label>
            <input matInput type="text" placeholder="Customer Address 1" formControlName="c2"  autocomplete="off">
            <mat-error>Type Address Line 1</mat-error>
          </mat-form-field>
          <mat-form-field [appearance]="appearance"  class="custItem3">
            <mat-label>Customer Address 2</mat-label>
            <input matInput type="text" placeholder="Customer Address 2" formControlName="c3"  autocomplete="off">
            <mat-error>Type Address Line 2</mat-error>
          </mat-form-field>
          <div  class="addB custItem5">
            <button mat-raised-button color="primary" (click)="addCust()" *ngIf="!custFormGroup.invalid && !cuId">Add new account</button>
          </div>
        </div>
      </form><episjob-h2 [data]="'Sales Potential ' + getY()" icon="trending_up" *ngIf="cuId"></episjob-h2>
    <episjob-potential [custId]="cuId" *ngIf="cuId"></episjob-potential>
</div>
<div class="cont" *ngIf="pos && pos!='SU' && pos!='adminS' && pos!='sales'">Restricted Area</div>