
.cont{
    margin: 80px 10px 30px 10px;
}

.custItem1{
    grid-area: custItem1;
  }

  .custItem2{
    grid-area: custItem2;
  }

  .custItem3{
    grid-area: custItem3;
  }

  .custItem4{
    grid-area: custItem4;
  }

  .list{
    max-height: 250px;
    overflow-y: scroll;
    margin-bottom: 15px;
    max-width: 750px;
  }

.custCont{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    max-width: 750px;
    grid-template-areas: 
    "custItem1"
    "custItem4"
    "custItem2"
    "custItem3";
  }

  @media screen and (min-width: 750px) {
    .custCont{
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      grid-template-areas: 
      "custItem1 custItem2 custItem3"
      "custItem4 custItem4 custItem4";
    }
}
