<div class="mt">
    <mat-toolbar color="primary" class="mt" [class.mat-elevation-z8]="true">
    <img style="margin-left: 10px" height="25px" src="../assets/icons/Logo.svg">

    <span class="example-spacer"></span>
    <!--<span class="bold">{{screenSize? 'Admin Tool' : ''}}</span>-->
    <span class="example-spacer"> </span>
    
    <span class="contUser" *ngIf="userExists()">
      <button mat-raised-button class="example-icon" color="accent" (click)="logout()" *ngIf="chName">
        <mat-icon>person</mat-icon>
        {{size()? nome + ' ' + cognome: userN}}
      </button>
      
    </span>
    <span class="notif" *ngIf="userExists()">
      <button mat-raised-button class="example-icon" (click)="navNot()" color="accent" [matBadge]="not" matBadgeColor="warn" [matBadgeHidden]="not==0" *ngIf="chName">
        <mat-icon>mail_outline</mat-icon>
      </button>
    </span>
  </mat-toolbar>
</div>

<div id="login" *ngIf="userN=='login' || spin">
  <episjob-spin *ngIf="spin"></episjob-spin>
  <episjob-login *ngIf="userN=='login'"></episjob-login>
</div>
<div class="content" *ngIf="userN!='login' && userN!=undefined">
  <router-outlet></router-outlet> 
</div>
<div class="menu" [class.mat-elevation-z8]="true" *ngIf="!chHome()">
  <div class="subMenu">
    <mat-icon class="menuIcon" (click)="goTo('/')" matTooltip="Home">home</mat-icon>
    <mat-icon class="menuIcon" (click)="goTo('/rigs')" matTooltip="Equipment">precision_manufacturing</mat-icon> 
    <mat-icon class="menuIcon" (click)="goTo('/customers')" matTooltip="Companies">work</mat-icon> 
    <mat-icon class="menuIcon" (click)="goTo('/sj')" matTooltip="Service Job" *ngIf="pos=='SU' || pos=='admin' || pos=='tech' ">text_snippet</mat-icon> 
    <mat-icon class="menuIcon" (click)="goTo('/visit')" matTooltip="Visits" *ngIf="pos=='SU' || pos=='adminS' || pos=='sales' ">recent_actors</mat-icon> 
  </div>
</div>
