@import '../epi.scss';

*{
  --alt-bar: 60px;
}

.example-spacer {
    flex: 1 1 auto;
  }

.nomeUtente{
    font-size: 75%;
}

.mt{
  position: fixed; top:0;left:0;
  z-index: 5;
  height: var(--alt-bar);
}

.content {
  padding-top: calc(var(--alt-bar));
}

#login{
  position: fixed; top:var(--alt-bar); left: 0px;
  display: flex;
  width:100%;
  padding-top: calc(var(--alt-bar) + 15px);
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  align-items: flex-start;
}

.nomeU{
  margin:0;
  font-size: 12px;
}

.bold{
  font-weight: 700;
}
