<div class="mt">
    <mat-toolbar color="primary" class="mt" [class.mat-elevation-z8]="true">
    <img style="margin-left: 10px" height="25px" src="../assets/icons/Logo.svg">
    <span class="example-spacer"></span>
    <!--<span class="bold">{{screenSize? 'Admin Tool' : ''}}</span>-->
    <span class="example-spacer"></span>
    <span class="contUser">
      <button mat-raised-button class="example-icon" color="accent" (click)="logout()" *ngIf="userExists()">
        <mat-icon>person</mat-icon>
        {{screenSize? nome + ' ' + cognome: userN}}
      </button>
      
    </span>
  </mat-toolbar>
</div>

<div id="login" *ngIf="!userN || userN=='null'">
  <mat-spinner color="accent" *ngIf="userN!='null'"></mat-spinner>
  <episjob-login (userN)="userName($event)" *ngIf="userN=='null'"></episjob-login>
</div>
<div class="content" *ngIf="userN && userN!=='null'">
  <router-outlet></router-outlet> 
</div>

