<h4>Add part Numbers</h4>

<form class="reqCont" [formGroup]="addPart">
    <mat-form-field [appearance]="appearance">
        <mat-label>Part Number</mat-label>
        <input matInput #pn1 type="text" autocomplete="off" maxlength="10" formControlName="pn" (input)="newPn($event)"> 
    </mat-form-field> 
    <mat-form-field [appearance]="appearance" >
        <mat-label>Description</mat-label>
        <input matInput type="text" autocomplete="off" maxlength="10" formControlName="desc"> 
    </mat-form-field>  
    <div class="end">
        <mat-form-field [appearance]="appearance" class="inp" >
            <mat-label>Q.ty</mat-label>
            <input matInput type="number" autocomplete="off" min="1" formControlName="qty"> 
        </mat-form-field> 
        <button mat-icon-button class="but" [disabled]="addPart.invalid" (click)="add()" color="accent"><mat-icon>add</mat-icon></button>
    </div>
    
</form>

<div *ngIf="partList.data.length>0">
    <div class="head">
        <h4 class="it1">Part List</h4>
        <button mat-raised-button [disabled]="partList.data.length==0" color="primary" (click)="submit()">Submit List</button>
    </div>
    
    <table mat-table [dataSource]="partList" class="mat-elevation-z8">
        <ng-container matColumnDef="ref">
            <th mat-header-cell *matHeaderCellDef class="cen i1"> REF. </th>
            <td mat-cell *matCellDef="let e; let i = index;"  class="cen i1">{{i+1}}</td>
        </ng-container>
        <ng-container matColumnDef="pn">
          <th mat-header-cell *matHeaderCellDef class="i2"> PART NUMBER </th>
          <td mat-cell *matCellDef="let e"> {{e.pn}} </td>
        </ng-container>
        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef class="i3"> DESCRIPTION </th>
            <td mat-cell *matCellDef="let e"> {{e.desc}} </td>
        </ng-container>
        <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef  class="cen i4"> Q.TY </th>
            <td mat-cell *matCellDef="let e"  class="cen"> {{e.qty}} </td>
        </ng-container>
        <ng-container matColumnDef="del">
            <th mat-header-cell *matHeaderCellDef  class="cen i5"> DEL </th>
            <td mat-cell *matCellDef="let e; let i= index"  class="cen i5"> 
                <button mat-raised-button color="primary" (click)="del(i)"><mat-icon>delete</mat-icon></button>    
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>