
.reqCont{
    max-width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width:700px) {
    .reqCont{
        grid-template-columns: 1fr;
    }
}

button{
    padding:0;
}

input{
    min-width: none;
}

