.cont{
    margin: 80px 10px 30px 10px;
    display:grid;
    grid-template-columns: repeat(1, minmax(350px, 1fr));
    gap: 15px;
    max-width: 900px;
}

.spacer{
    width: 15px;
}

.cont1{
    display: flex;
    align-items: center;
}