@import '../../../../epi.scss';


.subF{
    position:fixed;
    transition: 0.5s;
    height: 60px;
    z-index: 2;
}

.head{
    color: $light-text;
    font-weight: 500;
    margin-left: 30px; 
  }

  .back{
    margin-left: 16px; 
}

.spacer{
    flex: 2 2 0;
}