#start{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    align-items: flex-start;
}

.label{
    margin: 40px 0 0 0; 
    font-size: 150%;
}

.butIcon{
    transform: translateY(30px) scale(2.5);
}

.butC{
    padding: 0;
    margin: 4%;
    height: 200px;
}

.but{
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 300px) {
    #start{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
}

@media only screen and (min-width: 450px) {
    #start{
        grid-template-columns: 33.333% 33.333% 33.333%;
        grid-template-rows: auto;
    }
}

@media only screen and (min-width: 600px) {
    #start{
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
    }
}

@media only screen and (min-width: 750px) {
    #start{
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto;
    }
}

@media only screen and (min-width: 900px) {
    #start{
        grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
        grid-template-rows: auto;
    }
}

@media only screen and (min-width: 1050px) {
    #start{
        grid-template-columns: 14.286% 14.286% 14.286% 14.286% 14.286% 14.286% 14.286%;
        grid-template-rows: auto;
    }
}