<episjob-spin *ngIf="spin"></episjob-spin>

<div class="header">
    <div class="subHeader">
        <button mat-stroked-button class="row" *ngIf="role">
            <mat-icon class="green">check_circle</mat-icon>
            User role: {{role}}
        </button>
        <button mat-stroked-button class="row">
            <mat-icon [ngClass]="{'red':chOnline(),'green':!chOnline()}">check_circle</mat-icon>
            Network Status: {{!chOnline()? 'Online':'Offline'}}
        </button>
    </div>
    <div class="subHeader">
        <button mat-stroked-button class="row cur"  (click)="updateMOL()">
            <mat-icon [ngClass]="{'red':!fleetUptodate,'green':fleetUptodate}">check_circle</mat-icon>
            Fleet Local Database: <span *ngIf="fleetUptodate!=undefined">{{fleetUptodate?  rigs.length + ' machines' :'Not updated'}}</span>
        </button>
        <button mat-stroked-button class="row cur"  (click)="updateCust()">
            <mat-icon [ngClass]="{'red':!custUptodate,'green':custUptodate}">check_circle</mat-icon>
            Customer Local Database: <span *ngIf="custUptodate!=undefined">{{custUptodate? + customers.length + ' companies':'Not updated'}}</span>
        </button>
    </div>
    
</div>
<div id="start" *ngIf="!spin">
    
    <div class="butC" *ngFor="let a of buttons | disbutton: pos">
        <button mat-raised-button class="but" color="accent" (click)="nav(a.route, a.auth)" [disabled]="a.dis==false?chOnline():false">
            <div>
                <mat-icon class="butIcon">{{a.icon}}</mat-icon>
                <p class="label">{{a.id}}</p>  
            </div>
            
        </button>
    </div>
</div>