<div mat-dialog-title>{{data.new? 'New' : 'Edit'}} File</div>
<div mat-dialog-content>
    <episjob-selectmachine (info)="dat($event)"></episjob-selectmachine>
    <form [formGroup]="rigData" *ngIf="details!=undefined && details!=''">
        <mat-form-field [appearance]="appearance" class="input">
            <input matInput type="text" autocomplete="off" formControlName="sn">
            <mat-label>Serial nr.</mat-label>
        </mat-form-field>
        <mat-form-field [appearance]="appearance" class="input">
            <input matInput type="text" autocomplete="off" formControlName="model">
            <mat-label>Model</mat-label>
        </mat-form-field>
        <mat-form-field [appearance]="appearance" class="input">
            <input matInput type="text" autocomplete="off" formControlName="customer">
            <mat-label>Customer</mat-label>
        </mat-form-field>
        <mat-form-field [appearance]="appearance" class="input hid">
            <input matInput type="text" autocomplete="off" formControlName="custid">
            <mat-label>CustId</mat-label>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="'yes'">Ok</button>
</div>
