@import '../../../epi.scss';

#cont{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item, .itemc{
    box-sizing: content-box;
    width: 100%;
}

.itemc{
    display: flex;
    flex-direction: row;
}

.subitemc{
    width: calc(50% - 5px);
    height: 350px;
    padding: 5px;
    background-color: rgb(245,245,245);
    border-radius: 10px;
}

.spacer{
    margin: 0 5px;
}

can{
    width:100%; height:100%;
}

.ff{
    width: calc(25% - 10px);
    padding: 5px;
}

h2{
    padding-top: 20px;
    color: $dark-text;
}

.back{
    margin-top: 20px;;
}

@media only screen and (max-width: 600px) {
    .itemc{
        display: flex;
        flex-direction: column;
    }
    .subitemc{
        width: calc(100% - 10px);
    }
    .ff{
        width: calc(50% - 10px);
        padding: 5px;
    }

    .spacer{
        margin: 5px 0;
    }
  }