@import '../../../epi.scss';

#cont{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.item, .itemc{
    box-sizing: content-box;
    width: 100%;
}

.itemc{
    display: flex;
    flex-direction: row;
}

.subitemc{
    width: calc(50% - 5px);
    height: 350px;
    padding: 5px;
    background-color: rgb(245,245,245);
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
    border-bottom: .5px solid $dark-text;
}

.spacer{
    margin: 0 5px;
}

can{
    width:100%; height:100%;
}

.ff{
    width: calc(25% - 10px);
    padding: 5px;
}

h2{
    padding-top: 35px;
    color: $dark-text;
}

.back{
    margin-top: 20px;;
}
table{
    width: 100%;
    height: 100%;
}

.over{
    height:auto;
    min-height: 350px;
}

.divtxt{
    background-color: rgb(245,245,245);
    border-radius: 5px 5px 0 0;
    width: 100%; overflow: hidden;
    border-bottom: .5px solid $dark-text;
}

.txtcont{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.txtlabel{
    color: rgb(130,130,130);
    padding: 5px 10px 0 10px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
}

.txt{
    padding: 0px 10px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
    .itemc{
        display: flex;
        flex-direction: column;
    }
    .subitemc{
        width: calc(100% - 10px);
    }
    .ff{
        width: calc(50% - 10px);
        padding: 5px;
    }

    .spacer{
        margin: 5px 0;
    }

    .txtcont{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
  }