
<button mat-raised-button (click)="back()" color="primary" class="back">
    <mat-icon>navigate_before</mat-icon><span>Back</span>
</button>
<div id="cont" *ngIf="customer">
    <div class="item">
        <h2 color="accent">Rig info</h2>
        
        <div class="txtcont" >
            <div class="divtxt" *ngIf="valore">
                <div class="txtlabel">Serial Nr.</div>
                <div class="txt">{{valore}}</div>
            </div>
            <div class="divtxt" *ngIf="model">
                <div class="txtlabel">Model</div>
                <div class="txt">{{model}}</div>
            </div>
            <div class="divtxt" *ngIf="customer" (click)="open()" style="cursor: pointer">
                <div class="txtlabel">Customer</div>
                <div class="txt">{{customer}}</div>
            </div>
            <div class="divtxt" *ngIf="site">                
                <div class="txtlabel">Site</div>
                <div class="txt">{{site}}</div>
            </div>
        </div>
        <h2>Running hours {{dataRil? '@ ' + dataRil : ''}}</h2>
        
        <div class="txtcont" >
            <div class="divtxt" *ngIf="Engh">
                <div class="txtlabel">Engine</div>
                <div class="txt">{{Engh | number}}</div>
            </div>
            <div class="divtxt" *ngIf="Perc1">
                <div class="txtlabel">Percussion1</div>
                <div class="txt">{{Perc1 | number}}</div>
            </div>
            <div class="divtxt" *ngIf="Perc2">
                <div class="txtlabel">Percussion2</div>
                <div class="txt">{{Perc2 | number}}</div>
            </div>
            <div class="divtxt" *ngIf="Perc3">                
                <div class="txtlabel">Percussion3</div>
                <div class="txt">{{Perc3 | number}}</div>
            </div>
        </div>

    </div>
    <div *ngIf="data.length<2">
        <p>no data to display</p>
    </div>
    <div *ngIf="data.length>1">
        <div class="itemc">
            <div class="subitemc"><canvas class="can" id="orem"></canvas></div>
            <div class="spacer"></div>
            <div class="subitemc"><canvas  class="can" id="perc1"></canvas></div>
        </div>  
        <div class="itemc">
            <div class="subitemc over">
                <h2>Running hours history</h2>
                <div class="tablecont">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
                        <ng-container matColumnDef="Date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let a"> {{a.x}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Engine">
                            <th mat-header-cell *matHeaderCellDef> Engine </th>
                            <td mat-cell *matCellDef="let a"> {{a.y}} </td>
                        </ng-container>             
                        <ng-container matColumnDef="Perc1">
                        <th mat-header-cell *matHeaderCellDef> Perc1 </th>
                        <td mat-cell *matCellDef="let a"> {{a.y1}} </td>
                        </ng-container> 
                        <ng-container matColumnDef="Perc2">
                        <th mat-header-cell *matHeaderCellDef> Perc2 </th>
                        <td mat-cell *matCellDef="let a"> {{a.y2}} </td>
                        </ng-container> 
                        <ng-container matColumnDef="Perc3">
                        <th mat-header-cell *matHeaderCellDef> Perc3 </th>
                        <td mat-cell *matCellDef="let a"> {{a.y3}} </td>
                        </ng-container>          
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="subitemc over"></div>
        </div>
    </div>
</div>

