@import '../../../epi.scss';

#cont{
    display: flex;
    flex-direction: column;
    margin: 10px;
    z-index: 1;
    padding-bottom: 30px;
}

.butt{
    z-index: 200;
}

.item, .itemc{
    box-sizing: content-box;
    width: 100%;
}

.itemc{
    display: flex;
    flex-direction: row;
}

.subitemc, .over{
    width: 50%;
    flex: 1 1 1;
    height: 350px;
    background-color: rgb(245,245,245);
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
    border-bottom: .5px solid $dark-text;
    height: auto;
    min-height: 350px;
    max-width: calc(50% - 5px);
}

h2{
    color: $dark-text;
}

.spacer{
    width:10px;
    min-width: 10px;
}

.can{
    max-width:97%; 
    min-height:100%;
}

.back{
    margin-top: 20px;;
}
table{
    width: 100%;
    height: 100%;
}


.over{
    height: auto;
    min-height: 350px;
}

.datacont{
    margin:10px;
}

#nr{
    font-size: 15px;
    padding-top: 80px
}

.row{
    display: flex;
    flex-direction: column;
}

.but{
    height: 35px;
}

.subrow{
    align-items: stretch;
    flex: 1 1 1;
}

.mat-focus-indicator{
    margin: 0;
    padding:0;
}

.t{
    padding-top: 80px;
    display: flex;
    align-items: top;
    gap:15px;
}

.spacerC{
    flex:1 1 auto;
}

.butC{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    padding-bottom: 1.34375em;
}

.but{
    height: 100%;
    width: 50px;
}

.mat-form-field {
    width: 100%;
}


@media only screen and (max-width: 650px) {
    .itemc{
        display: flex;
        flex-direction: column;
    }
    .subitemc, .over{
       width: 100%;
       max-width: 100%;
    }
    .over{
        margin:0;
    }

    .spacer{
        margin: 5px 0;
    }
    
  }

  @media only screen and (max-width: 850px){
    .t{
        flex-direction: column;
        gap:10px;
    }

    .spacerC{
        height: 20px;
    }

    .butC{
        justify-items: center;
    }

    .but{
        width: 100%;
        max-width: 120px;
    }
  }

  @media only screen and (min-width: 2500px) {

    .row{
        flex-direction: row;
    }
    .subrow{
        width: 100%;
        flex: 1 1 1;
    }

    .chart{
        height: 100%;;
    }
    .a1{
        order:3;
    }
    .a2{
        order:1;
    }
    .a3{order:2}
  }