
<button mat-raised-button (click)="back()" color="primary" class="back">
    <mat-icon>navigate_before</mat-icon><span>Back</span>
</button>
<div id="cont" *ngIf="customer">
    <div class="item">
        <h2 color="accent">Rig info</h2>
        <form class="container"  [formGroup]="form">
            <mat-form-field class="ff" appearance="fill">
                <mat-label>Serial Nr</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="serial">    
            </mat-form-field>
            <mat-form-field class="ff" appearance="fill">
                <mat-label>Model</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="model">    
            </mat-form-field>
            <mat-form-field class="ff" appearance="fill">
                <mat-label>Customer</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="customer">    
            </mat-form-field>
            <mat-form-field class="ff" appearance="fill">
                <mat-label>Site</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="site">    
            </mat-form-field>
        </form> 
        <h2>Running hours {{dataRil? '@ ' + dataRil : ''}}</h2>
        <form class="container"  [formGroup]="formhrs" *ngIf="data.length>1">
            <mat-form-field class="ff" appearance="fill">
                <mat-label>Engine Hrs</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="engh">    
            </mat-form-field>
            <mat-form-field class="ff" appearance="fill">
                <mat-label>Percussion1</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="perc1h">    
            </mat-form-field>
            <mat-form-field class="ff" appearance="fill">
                <mat-label>Percussion2</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="perc2h">    
            </mat-form-field>
            <mat-form-field class="ff" appearance="fill">
                <mat-label>Percussion3</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="perc3h">    
            </mat-form-field>
        </form> 
    </div>
    <div *ngIf="data.length<2">
        <p>no data to display</p>
    </div>
    <div *ngIf="data.length>1">
        <div class="itemc">
            <div class="subitemc"><canvas class="can" id="orem"></canvas></div>
            <div class="spacer"></div>
            <div class="subitemc"><canvas  class="can" id="perc1"></canvas></div>
        </div>  
        <div class="itemc">
            <div class="subitemc over">
                <h2>Running hours history</h2>
                <div class="tablecont">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
                        <ng-container matColumnDef="Date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let a"> {{a.x}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Engine">
                            <th mat-header-cell *matHeaderCellDef> Engine </th>
                            <td mat-cell *matCellDef="let a"> {{a.y}} </td>
                        </ng-container>             
                        <ng-container matColumnDef="Perc1">
                        <th mat-header-cell *matHeaderCellDef> Perc1 </th>
                        <td mat-cell *matCellDef="let a"> {{a.y1}} </td>
                        </ng-container> 
                        <ng-container matColumnDef="Perc2">
                        <th mat-header-cell *matHeaderCellDef> Perc2 </th>
                        <td mat-cell *matCellDef="let a"> {{a.y2}} </td>
                        </ng-container> 
                        <ng-container matColumnDef="Perc3">
                        <th mat-header-cell *matHeaderCellDef> Perc3 </th>
                        <td mat-cell *matCellDef="let a"> {{a.y3}} </td>
                        </ng-container>          
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="subitemc over"></div>
        </div>
    </div>
</div>

