<episjob-navbar [backB]="rou" [title]="addUpd? 'New Equipment' : 'Edit Equipment' " [home]="true" [cerca]="false"></episjob-navbar>

<div class="cont" *ngIf="pos=='SU'">
    <episjob-h2 icon="precision_manufacturing" [data]="addUpd? 'Add New Equipment' : 'Edit Equipment'"></episjob-h2>

    <form [formGroup]="newR" class="formCont">
        <mat-form-field [appearance]="appearance">
            <mat-label>Serial Nr</mat-label>
            <input matInput type="text" placeholder="Serial" formControlName="sn" autocomplete="off" (blur)="chExist($event)">
            <mat-error *ngIf="newR.controls.sn.hasError('already')">S/n already exists</mat-error>
        </mat-form-field>
        <mat-form-field [appearance]="appearance">
            <mat-label>Item Nr</mat-label>
            <input matInput type="text" placeholder="Item nr" formControlName="in" autocomplete="off">
        </mat-form-field>
        <mat-form-field [appearance]="appearance">
            <mat-label>Model</mat-label>
            <input matInput type="text" placeholder="Model" formControlName="model" autocomplete="off">
        </mat-form-field>
        <mat-form-field [appearance]="appearance">
            <mat-label>Customer</mat-label>
            <mat-select formControlName="customer">
                <mat-option *ngFor="let c of customers" [value]="c.id">{{c.c1}}</mat-option>
            </mat-select>
            <!--<input matInput type="text" placeholder="Site" formControlName="site" autocomplete="off">-->
        </mat-form-field>
        <mat-form-field [appearance]="appearance">
            <mat-label>Site</mat-label>
            <input matInput type="text" placeholder="Site" formControlName="site" autocomplete="off">
        </mat-form-field>
    </form>
    <episjob-segment (check)="vai($event)" [values]="rigCat" (data)="getData($event)"></episjob-segment>
    <episjob-add-cancelbuttons 
        [a1]="'Cancel'" 
        [a2]="addUpd? 'Add' : 'Update'" 
        [type]="'rig'" 
        [check]="newR.invalid || segment" 
        (info)="add(addUpd? 'addr':'updr', newR)">
    </episjob-add-cancelbuttons>
</div>