<div mat-dialog-title>{{data.new? 'Add new' : 'Edit'}} contract</div>
<div mat-dialog-content>
    <form [formGroup]="inputData" class="req">
        <div>
            <h4>Select machine</h4>
            <mat-form-field [appearance]="appearance" class="search hid">
                <input matInput #sea type="text" autocomplete="off" formControlName="id">
                <mat-label>IDr</mat-label>
            </mat-form-field>
            <mat-form-field [appearance]="appearance" class="search">
                <input matInput #sea type="text" autocomplete="off" formControlName="sn" (input)="filter()" cdkFocusInitial>
                <mat-label>Search s/n, model or customer</mat-label>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <div class="list" *ngIf="chStr">
                <div *ngFor="let r of rigs" [ngStyle]="{'cursor':1==1? 'pointer':'arrow'}" class="line" (click)="sel(r)">
                    <p class="text t1 sm">{{r.sn}}</p>
                    <p class="text sm">{{r.model}}</p>
                    <p class="text med"><strong>{{r.sn}}</strong> - {{r.model}}</p>
                    <p class="text">{{r.customer}}</p>
                </div>
            </div>  
        </div>  
        <div *ngIf="details.length>0">
            <mat-form-field [appearance]="appearance" class="search">
                <mat-label>Model</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="model">
            </mat-form-field>
            <mat-form-field [appearance]="appearance" class="search">
                <mat-label>Customer</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="customer">
            </mat-form-field>
            <mat-form-field [appearance]="appearance" class="search hid">
                <mat-label>CustomerCode</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="custCode">
            </mat-form-field>
            <h4>Contract data</h4>
            <mat-form-field [appearance]="appearance" class="search">
                <mat-label>Contract type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let t of types" [value]="t.text">
                    {{t.text}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width:100%;">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                <mat-error *ngIf="inputData.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="inputData.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>        
        </div>
        
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="reset()" *ngIf="details.length>0">Reset</button>
    <button mat-raised-button color="primary" (click)="onNoClick()" >Cancel</button>
    <button mat-raised-button color="primary" [disabled]="inputData.invalid" (click)="save()">OK</button>
</div>