@import '../../../../epi.scss';

.cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) minmax(250px, 1fr));
    grid-template-rows: auto;
    gap:30px;
}

.butt{
    z-index: 200;
}

#mainCont{
    padding: 80px 10px 30px 10px;
}

.item{
    max-height: 450px;
}
.can{
    max-height: 350px;
}


.datacont{
    margin:10px;
}

#nr{
    font-size: 15px;
    padding-top: 80px
}

.row{
    display: flex;
    flex-direction: column;
}

.but{
    height: 35px;
}

.it{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

@media only screen and (max-width: 850px) {
    .cont {
    grid-template-columns: minmax(250px, 1fr);
    }
  }
