<episjob-navbar [backB]="'rigs'" [title]="'Equipment'" [cerca]="false"  [home]="true"></episjob-navbar>
<div id="cont" *ngIf="customer && ri==true">
    <episjob-top-menu [valore]="valore" [pos]="pos" [inizio]="data[0]? data[0].x:0" (date)="readD($event)"></episjob-top-menu>
    <div class="item">
        <div class="row">
            <div class="subrow">
                <episjob-h2 icon="precision_manufacturing" data="Machine Info" [showAdd]="showAdd" [showMol]="true" (mol)="open($event)" (addCD)="addCD($event)"></episjob-h2>
                <episjob-label [values]="rigLabels"></episjob-label>
            </div>
            <div class="spacer"></div>
            <div class="subrow a3" *ngIf="cCom!=0">
                <episjob-h2 icon="update" [data]="infoH"></episjob-h2>
                <p *ngIf="cCom==0">No data to display</p>
                <episjob-label *ngIf="cCom!=0" [values]="hrsLabels"></episjob-label>
            </div>           
        </div>
    </div>
    
    <div>
        <div class="row">
            <div class="subrow a1" *ngIf="cCom>1">
                <div class="itemc" (resize)="res($event)">
                    <div class="subitemc">
                        <canvas class="can" id="orem"></canvas>
                    </div>
                    <div class="spacer"></div>
                    <div class="subitemc">
                        <canvas class="can" id="perc1"></canvas>
                    </div>
                </div>  
            </div>
            
            <div class="subrow a2" *ngIf="cCom>0">
                <div class="itemc">
                    <div class="subitemc over">
                        <div class="datacont">
                            <episjob-h2 icon="update" padtop="10" data="Running Hours History"></episjob-h2>
                            <episjob-rig-table [dataSource]="datafil" [pos]="pos" (action1)=up($event) (action2)="de($event)"></episjob-rig-table>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="subitemc over">
                        <div class="datacont">
                            <episjob-sjlist [sn]="valore" [start]="inizio" [end]="fine" [docBpcs]="docBpcs" [customer]="customer" [model]="model"></episjob-sjlist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<episjob-editdelbut class="butt" [nome]="valore" [func]="'MOL'" [check]="contr()" (edit)="go($event)" style="z-index: 100;"></episjob-editdelbut>