<episjob-navbar [backB]="'rigs'" [title]="'Equipment'" [cerca]="false"  [home]="true"></episjob-navbar>
<div (window:resize)="onResize()">
    
    <div id="mainCont" *ngIf="customer && ri==true">
        <episjob-top-menu [valore]="valore" [pos]="pos" [inizio]="data[0]? data[0].x:0" (date)="readD($event)"></episjob-top-menu>
        <div [class.cont]="cCom!=0" [class.contMod]="cCom==0">
            <div class="item1">
                <episjob-h2 icon="precision_manufacturing" [data]="model" [showAdd]="showAdd" [showMol]="true" (mol)="open($event)" (addCD)="addCD($event)"></episjob-h2>
                <episjob-label [values]="rigLabels"></episjob-label>
            </div>
            <div class="item2" *ngIf="cCom!=0">
                <episjob-h2 icon="update" [data]="infoH"></episjob-h2>
                <p *ngIf="cCom==0">No data to display</p>
                <episjob-label *ngIf="cCom!=0" [values]="hrsLabels"></episjob-label>
            </div>   
            <div class="item3 contCan"  *ngIf="cCom!=0 && !(datafil.length==1 && datafil[0].y==0)">
                <episjob-h2 icon="update" data="Engine Hours"></episjob-h2>
                <canvas class="can" id="orem" [class.mat-elevation-z2]="true"></canvas>
            </div>
            <div class="item4 contCan"  *ngIf="cCom!=0 && !(datafil.length==1 && datafil[0].y1==0)">
                <episjob-h2 icon="update" data="Percussion Hours"></episjob-h2>
                <canvas class="can" id="perc1" [class.mat-elevation-z2]="true"></canvas>
            </div>
            <div class="item5 contCan"  *ngIf="cCom!=0  && !(datafil.length==1 && datafil[0].y==0)">
                <episjob-h2 icon="update" data="Running Hours History" [showSort]="true" (sort)="sortDataTable($event)" ></episjob-h2>
                <episjob-rig-table [dataSource]="datafil" [pos]="pos" (action1)=up($event) (action2)="de($event)" [sortDA]="sortT"></episjob-rig-table>
            </div>
            <div class="item6 contCan" *ngIf="cCom!=0 && sjList.length>0">
                <episjob-h2 icon="content_paste" class="title" [data]="'Service Job History'" [showSort]="true" (sort)="sortDataSJ($event)"></episjob-h2>
                <episjob-sjlist [list]="sjList" [customer]="customer" [model]="model" [sortDA]="sortSJ"></episjob-sjlist>
            </div>

            <div class="item7" *ngIf="customer=='IMI FABI SPA' && chsjList()">
                <episjob-h2 icon="content_paste" class="title" [data]="'Hours details'" [showDL]="true" (copy)="dlData($event)"></episjob-h2>
                <episjob-imifabi [list]="sjList" ></episjob-imifabi>
            </div>

        </div>
    </div>

</div>
<episjob-editdelbut class="butt" [addHr]="true" [nome]="valore" [func]="'MOL'" [check]="contr()" (edit)="go($event)" style="z-index: 100;" (addH)="updH($event)"></episjob-editdelbut>