
*{
    transition: .5s;
}

.cont{
    position: fixed;
    bottom:15px; right: 15px;
}

@media screen and (max-width: 701px) {
    .cont{
        bottom: 75px;
    }
}

.menuopen{
    gap:15px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    margin-bottom: 15px;
}
.butClosed{
    display: none;
    position: fixed;
    bottom:15px; right: 15px;
    margin-top: 15px;
}
