@import '../../../epi.scss';

.cardCont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap:15px;
}

.card{
    height: 150px;
    background-color: rgb(245,245,245);
    display: grid;
    grid-template-columns: [first] 6fr [limit] 1fr [last];
    grid-template-rows: [start] 1fr [limit] 4fr [end];
    border-radius: 10px;
    overflow:hidden;
}

.title{
    grid-column: first / last;
    grid-row: start / limit;
    background-color: $dark-text;
    color: $light-text;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
}

.content{
    grid-column: first / limit;
    grid-row: limit / end;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    color: $dark-text;
    gap:5px;
}

.content, .title{
    padding: 5px 15px;
    width:90%;
}

.action{
    grid-column: limit / last;
    grid-row: limit / end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px dotted grey;
    color: $dark-text;
}

p{
    text-align:center;
}

mat-icon{
    cursor: pointer;
}

mat-icon:hover{
    color:$light-text;
}

.text{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}