<episjob-navbar title="Balance List" (filter)="filter($event)"></episjob-navbar>
<div class="cont" episjobCont *ngIf="allow && !allSpin">
    <div class="cardCont">
        <div episjobElevation *ngFor="let b of balanceList | balancefilter: filtro" class="card" [class.mat-elevation-z2]="true">
            <div class="title">
                <div class="text">SJ nr: {{b.a120docBPCS}} - {{b.a110data}}</div>
            </div> 
            <div class="content">
                <div class="text">{{b.a170customer1}}</div>
                <div class="text">{{b.___model}}</div>
                <div class="text">{{b.___sn}}</div>
            </div>  
            <div class="action">
                <mat-icon *ngIf="large" (click)="edit(b)" matTooltip="Edit Balance">edit</mat-icon>
                <mat-icon (click)="pdf(b)" matTooltip="Export PDF">picture_as_pdf</mat-icon>
                <mat-icon (click)="delete(b)" matTooltip="Delete Balance">delete</mat-icon>
            </div>
        </div>  
    </div>
    
</div>
<div class="cont" episjobCont *ngIf="!allow && !allSpin">
    <div>Restricted area</div>
</div>
<div class="cont" episjobCont *ngIf="allSpin">
    <episjob-spin></episjob-spin>
</div>

<episjob-editdelbut [newBal]="true" (newBalance)="addBalance()"></episjob-editdelbut>