<div  *ngIf="pos=='SU' || pos=='admin' || pos=='adminS' || pos=='sales'" class="divid">
    <div>
        <div mat-dialog-title>Notifications</div>
        <div class="ch">
            <div>
                <mat-checkbox class="cb" [checked]="SJ>0" (change)="mod($event, 'sj')">SJ Notifications</mat-checkbox>
            </div>
            <div>
                <mat-checkbox class="cb" [checked]="Visit>0" (change)="mod($event, 'visit')">Visit Notifications</mat-checkbox>
            </div>
            <div>
                <mat-checkbox class="cb" [checked]="Newrig>0" (change)="mod($event, 'newrig')">Rig Data Notifications</mat-checkbox>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <mat-divider></mat-divider>
</div>

<div mat-dialog-title>Logout</div>
<div mat-dialog-content>Click here to logout 
    <button mat-icon-button (click)="logout()" color="accent">
        <mat-icon>logout</mat-icon>
    </button>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onNoClick()">Close</button>
</div>
