@import '../../../epi.scss';

.mainCont{
    padding: 80px 10px 30px 10px
}


@media screen and (min-width:801px) {
    .contL{
        max-height: 350px;
        overflow-y:auto;
    }
}

.cont{
    border-bottom: 1px solid rgb(245,245,245);
}

.cont, .head{
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 2fr);
    align-items: center;
    margin-bottom: 5px;
}

@media screen and (max-width:800px){
    .cont{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 15px;
    }
    .bold{
        font-weight: 500;
    }
    .head, .lar{
        display: none;
    }
}

@media screen and (min-width:801px){
    .str{
        display: none;
    }
}

.text, .h{
    padding:0 5px;
    white-space: nowrap;
    overflow: hidden;
}

.h{
    display: flex;
    //grid-template-columns: 85% 1fr;
    align-items: center;
    height: 24px;
}

.h:hover{
    background-color: rgb(235,185,0);
}

span{
    max-height: 24px;
}

.text{
    cursor: pointer;
}

.sel{
    background-color: $dark-text;
    color: $light-text;
    border-radius: 5px;
}

.head{
    font-weight: 600;
    background-color: $light-text;
    color:$dark-text;
    padding: 5px 0;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.butCont{
    width:100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}





//test

.giu{
    margin-top: 30px;
}

.foglio{
    box-sizing: border-box;
    width: 21cm;
    height: 29.7cm;
    border: 1px solid black;
}
.margini{ 
position: relative;
height: 27cm;
width: 18.57375cm;
margin: auto;
top: .5cm;
}

.int{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    color: rgb(66, 85, 99);
    font-size: 4pt;
}

.topr{
text-align: right;
display: inline-block;
width: 8cm;
vertical-align: top;
font-weight: 900;
font-style: italic;
color: rgb(66, 85, 99);  
}

.dati{
left:0;
margin:0;
padding:0;
}

#aamatricola{
    display: flex;
    justify-content: space-between;

}
.topleft, .topright{
width: 340px; 	
margin:0;
padding:0;
height: 156px;

}


.topcenter{
border-collapse: collapse;
display: inline-block;
width: 10px;
height: 156px;

}

.tabella{
width:100%;
text-align: center;
border-collapse: collapse;
table-layout: auto;
}

.a1 p{margin-top: 0;}

.a1{
    width: 50%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 5pt;
    font-weight: 800; 
}

.a2{
    font-size: 7pt;
    width: 50%;
    height: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow: hidden;
}

.cant{
    height: 18px;
}

.a3{
width:50%;
height: 4px;
border: 1px solid black;
border-top: 0.3px solid gray;
}

.a4{
width: 16.5%;
height: 15px;
border-left: 0.3px solid gray;
border-right: 0.3px solid gray;
}

.a5{
width:50%;
height: 23px;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 0.3px solid gray;
}

.a6{
width: 16.5%;
height: 18px;
border-left: 0.3px solid gray;
border-right: 1px solid black;
}

.spazio{
height: 5px;
}
.spazio1{
height: 5px;
}

.header{
height: 20px;
border-collapse: collapse;
float: top;
border: 1px solid black;
font-size: 9pt;
text-align: center;
}

.headertext{
position: inline;
margin: -2px;
font-weight: 800;
font-size: 10px;
margin-top: 2px;
}

.note{
position: inline;
border-collapse: collapse;
display: inline-block;
text-align: justify;
border: 1px solid black;
border-top:none;
overflow: hidden;
font-size: 9pt;
line-height: 20px;
}

.notetext{
word-wrap: normal;
border-collapse: collapse;
float: top;
border: 1px solid black;
border-top:none;
border-bottom:none;
overflow: hidden;
}


#rappl1, #oss1{
position: absolute;
padding: 0 15px;
overflow: hidden;
line-height: 16px;
font-size: 9.5px;
text-align: justify;
white-space: normal;
white-space: pre-wrap;
}

.righe{
top: 0;
display: block;
top:0;
height: 16px;
border-bottom: 0.3px solid gray;
}

.dati, .header, .headertext, .note, .notetext, .righe {
box-sizing: border-box;
width: 18.57375cm;
}

.commessa{
width: 9cm;
}

.ordine{
width: 4.5cm;
}

.offerta{
width: 4.5cm;
}

.centro{
width: 100%;
}

.testo{
margin:0;
margin-top: 0.2cm;
position: static;
margin-left: 1cm;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
font-weight: 900;
font-size: 4pt;
text-align: center;
}

.datiin {width: 50%;
float: center;
position: relative;
margin-top: 10px;
top: 50px;
left: 10px;
visibility: hidden;
border-radius: 5px;
background-origin: border-box;
border: 1px solid #ccc;
padding: 5px;
}

.entra{
margin:0px;
position:static;
margin-left: 1cm;
border-left: 1px solid black;
border-right: 1px solid black;
font-size: 12pt;
text-align: center;
height: 0.5cm;
}

.chiudi{
margin: 0;
position: static;
margin-left: 1cm;
border-top: 1px dotted black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
font-size: 4pt;
text-align: center;
height: 0.2cm;
}

.in {
    overflow: hidden;
    font-size: 7pt;
}

.settimana{
float: top;
width: 100%;
box-sizing: border-box;
}

.tabset{
font-size: 7pt;
text-align: center;
border-collapse: collapse;  
border: 1px solid black;	
width: 100%;
}

.tabset2{
font-style: oblique;
font-weight: 900;
text-align: left;
border-collapse: collapse;  
width: 70px; 
font-size: 10pt;
border:none;
padding: 0;
margin:0;
}

.legenda{
border-collapse: collapse;
box-sizing: border-box;
border:1px solid black;
border-top: none;
font-size: 6pt;
width: 100%;
height: auto;
overflow: hidden;
}

.tabcell, .tabcell1, .tabcell2, .tabcell3 {
padding: 0;

box-sizing: border-box;
}

.tabcell{
height: 21px;
border: 1px solid black;
}

.tabcell1{
height: 20px;
border: 1px solid black;
width: 133px;
}
.tabcell2{
width: 35px;
height: 20px;
border: 1px solid black;
}

.tabcell3{
width: 24.5px;
height: 10px;
border: 1px solid black;
}

.tf, .firma{
border: 1px solid black;
border-top: none;
height: 20px;
width: 20%;

}
.firma{
height: 60px;  
}

.tf{
font-weight: 900;
font-size: 6pt;
text-align: center;
}

.conte{
width: 500px;
height: 300px;
padding:0;
}

.ccc{
position: fixed;
top: 0px;
width: 100%;
left:0;
text-align: center;
justify-content: center;
overflow: hidden;
}

.pulsante1 {width: 27%}
.inser1{
width: 24%;
}

label{
font-weight: 800;
}

.g{
margin-right: 20px;
}

#mmm{
text-align: center;
margin-left: auto;
margin-right: auto;
max-height: 100px;
overflow: auto;

}

.nome{
text-align: left;
}


@page{
margin: 0cm;
}

@media print {
body * {
visibility: hidden;

}
.foglio, .foglio * {
visibility: visible;
}
.foglio {
position: absolute;
left: 0;
top: 0;
}
}

.ore{
width: 20px;

}



.hidden {
display: none;
}

.firma{
font-size: 8pt;
font-weight: 600;
}

.legenda1{
text-align:left;
font-size: 5pt;
line-height: 170%;
}

#cliente11, #cliente12, #cliente13{
    height: 17px;
    margin-top: 6px;
    margin-bottom: -6px;
}