@import '../../../epi.scss';

.mainCont{
    padding: 80px 10px 30px 10px
}

.butCont{
    width:100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}

