<episjob-navbar [cerca]="false" title="Service Jobs"></episjob-navbar>

<div class="mainCont" *ngIf="!allow">Restricted Area</div>

<div class="mainCont" *ngIf="allow"> 
    <episjob-h2 data="Actions" icon="rocket_launch" padtop=0></episjob-h2>
    <div class="butCont">
        <button mat-raised-button color="primary" (click)="go()">{{chW()? 'Start new request':'New'}}</button>
        <button mat-raised-button color="primary" [disabled]="sjId==''" (click)="open()">{{chW()? 'Open draft':'Open'}}</button>
        <button mat-raised-button color="primary" [disabled]="sjId==''" (click)="delete()">{{chW()? 'Delete draft':'Delete'}}</button>
        <button mat-raised-button color="primary" [disabled]="sjId=='' && sjUrl==-1" (click)="exportPdf()">{{chW()? 'Export PDF':'PDF'}}</button>
        <button mat-raised-button color="primary" [disabled]="sjId=='' && sjUrl==-1" (click)="exportMa()">{{chW()? 'Export MA':'MA'}}</button>
    </div>
    <div *ngIf="list1.length>0">
        <episjob-h2 icon=home data="Drafts"></episjob-h2>
        <div class="head" [class.mat-elevation-z2]="true">
            <div class="h" (click)="sort('data11')">
                <span>Date</span>
                <span *ngIf="sortIcon=='data11' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
                <span *ngIf="sortIcon=='data11' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
            </div>
            <div class="h" (click)="sort('matricola')">
                <span>Serial Nr</span>
                <span *ngIf="sortIcon=='matricola' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
                <span *ngIf="sortIcon=='matricola' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
            </div>
            <div class="h" (click)="sort('prodotto1')">
                <span>Machine</span>
                <span *ngIf="sortIcon=='prodotto1' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
                <span *ngIf="sortIcon=='prodotto1' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
            </div>
            <div class="h" (click)="sort('cliente11')">
                <span>Customer</span>
                <span *ngIf="sortIcon=='cliente11' && sortDir=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
                <span *ngIf="sortIcon=='cliente11' && sortDir=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
            </div>
        </div>
        <div class="contL">
            <div *ngFor="let l of list1; let i = index" class="cont" (click)="sel(l.sjid, i)" [ngClass]="l.sel==1? 'sel':''">
                <div class="text bold">{{l.data11}}</div>
                <div class="text bold">{{l.matricola}}</div>
                <div class="text">{{l.prodotto1}}</div>
                <div class="text">{{l.cliente11}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="listSent.length>0 && pos=='SU' || pos=='admin'">
        <episjob-h2 icon=home data="Sent"></episjob-h2>
        <div class="head" [class.mat-elevation-z2]="true">
            <div class="h" (click)="sortSent('data11')">
                <span>Date</span>
                <span *ngIf="sortIconS=='data11' && sortDirS=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
                <span *ngIf="sortIconS=='data11' && sortDirS=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
            </div>
            <div class="h" (click)="sortSent('matricola')">
                <span>Serial Nr</span>
                <span *ngIf="sortIconS=='matricola' && sortDirS=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
                <span *ngIf="sortIconS=='matricola' && sortDirS=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
            </div>
            <div class="h" (click)="sortSent('prodotto1')">
                <span>Machine</span>
                <span *ngIf="sortIconS=='prodotto1' && sortDirS=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
                <span *ngIf="sortIconS=='prodotto1' && sortDirS=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
            </div>
            <div class="h" (click)="sortSent('cliente11')">
                <span>Customer</span>
                <span *ngIf="sortIconS=='cliente11' && sortDirS=='up'" style="padding:0;margin:0"><mat-icon >arrow_drop_up</mat-icon></span>
                <span *ngIf="sortIconS=='cliente11' && sortDirS=='down'"><mat-icon>arrow_drop_down</mat-icon></span>
            </div>
        </div>
        <div class="contL">
            <div *ngFor="let l of listSent; let i = index" class="cont" (click)="sels(l.url, i)" [ngClass]="l.sel==1? 'sel':''">
                <div class="text bold">{{l.data11}}</div>
                <div class="text bold">{{l.matricola}}</div>
                <div class="text">{{l.prodotto1}}</div>
                <div class="text">{{l.cliente11}}</div>
            </div>
        </div>
    </div>
</div>