<form [formGroup]="newRequest" class="req">
        <mat-form-field [appearance]="appearance" class="search">
            <input matInput type="text" autocomplete="off" formControlName="search" (input)="filter()">
            <mat-label>Search</mat-label>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="list" *ngIf="chStr">
            <div *ngFor="let r of rigs" [ngStyle]="{'cursor':1==1? 'pointer':'arrow'}" class="line" (click)="sel(r)">
                <mat-icon mat-list-icon class="icon">precision_manufacturing</mat-icon>
                <p class="text">{{r.sn}}</p>
                <p class="text">{{r.model}}</p>
                <p class="text">{{r.customer}}</p>
            </div>
        </div>
        <div *ngIf="chStr==false">
            <h4 *ngIf="details.length>0">Machine details</h4>
            <episjob-label [values]="details"></episjob-label>
        </div>
        
</form>