
@import '../../../../epi.scss';

.search{
    width:100%;
}

.list{
    max-height: 250px;
    overflow-y: auto;
    color: $dark-text;
    margin-bottom: 20px;
}

.text{
    font-size: 9pt;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 15px;
}

.line{
    max-height: 30px;
    display: grid;
    grid-template-columns: 5% 22% 34% 39%;
    border-radius: 5px;
    align-items: center;
}

.line:hover{
    background-color: $dark-text;
    color: $light-text;
}

.icon{
    scale: .5;
}

.mat-list.item.content{
    align-items: flex-start;
}

.cont{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 575px) {
    .cont{
        flex-direction: column;
        align-items: unset;

    }

    .b{
        padding: 0 !important;
        margin: 0;
        height: auto;
        width:100%;
        margin-top: 15px;
    }
}

episjob-label{
    flex: 1 1 auto;
}

button{
    //height: 51px;
}

