
@import '../../../../epi.scss';

.search{
    width:100%;
}

.list{
    max-height: 180px;
    overflow-y: auto;
    color: $dark-text;
    margin-bottom: 20px;
}

.text{
    font-size: 9pt;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px;
}

.line{
    max-height: 30px;
    display: grid;
    grid-template-columns: 27% 34% 39%;
    border-radius: 5px;
    align-items: center;
}

.line:hover{
    background-color: $dark-text;
    color: $light-text;
}

.icon{
    scale: .5;
}

.mat-list.item.content{
    align-items: flex-start;
}

.button{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.button1{
    height: 51px;
}

.mainCont{
    width: 300px;
    height: 280px;
}

